body {
    background: var(--body-gradient);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.layout-item {
    padding: 1dvh max(calc((100vw - 1000px) / 2), 1dvh);
}

.layout-item.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 4em;
}

::-webkit-scrollbar {
    width: 0.75em;
    background: var(--clr-violet);
    border-bottom-right-radius: 0.5em;
}

::-webkit-scrollbar-track {
    border-radius: 100vw;
    margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(var(--clr-blue), var(--clr-magic-blue));
    border-radius: 100vw;
    border: 0.15em solid var(--clr-green);
}
