<!-- <aside class="layout-item insights">
    <div class="double-layout">
        
        <article>
            
            <section class="content">
                <i class="fa-solid fa-quote-left"></i>
                <h5>Daisy Flex</h5>
                <blockquote>
                    Flexbox empowers us to create flexible and <strong>responsive</strong> layouts optimized for <em>web</em> and <em>mobile</em> devices. 
                </blockquote>
            </section>
            
            <div class="avatar">
                <img src="../assets/images/girl1.jpg" alt="Girl">
            </div>
            
        </article>
        
        <article>
            
            <section class="content">
                <i class="fa-solid fa-quote-left"></i>
                <h5>Jimmy Flex</h5>
                <blockquote>Centering elements on a page was once challenging with CSS, but Flexbox <em>simplifies</em> the process, allowing us to focus on more advanced design tasks.</blockquote>
            </section>
            
            <div class="avatar">
                <img src="../assets/images/boy2.jpg" alt="Boy">
            </div>
            
        </article>
        
    </div>
    
    <div class="single-layout">
        
        <article>
            
            <section class="content">
                <i class="fa-solid fa-quote-left"></i>
                <h5>Katy Flex</h5>
                <blockquote>Flexbox simplifies the process of building custom <abbr title="Do-It-Yourself">DIY</abbr> grids.</blockquote>
            </section>
            
            <div class="avatar">
                <img src="../assets/images/girl2.jpg" alt="Girl">
            </div>
            
        </article>
        
    </div>
</aside> -->


<aside class="layout-item insights">
    <!-- <div> -->
        <article class="card">
            <section class="content">
                <i class="fa-solid fa-quote-left"></i>
                <h5>Daisy Flex</h5>
                <blockquote>
                    Flexbox empowers us to create flexible and <strong>responsive</strong> layouts optimized for <em>web</em> and <em>mobile</em> devices. 
                </blockquote>
            </section>
            
            <div class="avatar">
                <img src="../assets/images/girl1.jpg" alt="Girl">
            </div>
        </article>
        
        <article class="card">
            <section class="content">
                <i class="fa-solid fa-quote-left"></i>
                <h5>Jimmy Flex</h5>
                <blockquote>Centering elements on a page was once challenging with CSS, but Flexbox <em>simplifies</em> the process, allowing us to focus on more advanced design tasks.</blockquote>
            </section>
            
            <div class="avatar">
                <img src="../assets/images/boy2.jpg" alt="Boy">
            </div>
        </article>
    <!-- </div> -->
    
    <!-- <div> -->
        <article class="card">
            <section class="content">
                <i class="fa-solid fa-quote-left"></i>
                <h5>Katy Flex</h5>
                <blockquote>Flexbox simplifies the process of building custom <abbr title="Do-It-Yourself">DIY</abbr> grids.</blockquote>
            </section>
            
            <div class="avatar">
                <img src="../assets/images/girl2.jpg" alt="Girl">
            </div>
        </article>
    <!-- </div> -->
</aside>