    <footer class="layout-item">
        <h6>References:</h6>
        
        <div class="wrapper">
            
            <a class="media" href="https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/CSS_layout/Flexbox">
                <img src="assets/images/mdn.png" alt="mdn">
            </a>
            
            
            <a class="media" href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/">
                <img src="assets/images/csstricks.png" alt="csstricks">
                
            </a>
            
            <a class="media" href="https://www.w3schools.com/css/css3_flexbox.asp">
                <img src="assets/images/3school.png" alt="3wschool">
            </a>
        </div>
        
    </footer>
    <script src="assets/js/script.js"></script>
</body>
</html>