<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="assets/images/favicon.webp">
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    rel="stylesheet"
    />
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css"
    rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-css.min.js"></script>
    <link rel="stylesheet" href="assets/styles/site.css">
    <title>{{site.title}}</title>
</head>
<body>
    <input type="checkbox" name="main-nav-toggle" id="main-nav-toggle" class="layout-item">
    <header class="layout-item">
        <h1>Flexbox</h1>
        <label for="main-nav-toggle">
            <span class="open">Open</span>
            <span class="close">Close</span>
        </label>
        
        <nav>
            <ul>
                <li class="purple">
                    <a>Children Props</a>
                    <ul>
                        <li><a href="#flex-grow">Flex-Grow</a></li>
                        <li><a href="#flex-shrink">Flex-Shrink</a></li>
                        <li><a href="#flex-basis">Flex-Basis</a></li>
                        <li><a href="#flex">Flex</a></li>
                        <li><a href="#align-self">Align-Self</a></li>
                        <li><a href="#order">Order</a></li>    
                    </ul>
                </li>
                
                <li class="blue">
                    <a>Parent Props</a>
                    <ul>
                        <li><a href="#flex-direction">Flex-Direction</a></li>
                        <li><a href="#flex-wrap">Flex-Wrap</a></li>
                        <li><a href="#flex-flow">Flex-Flow</a></li>
                        <li><a href="#justify-content">Justify-Content</a></li>
                        <li><a href="#align-items">Align-Items</a></li>
                        <li><a href="#align-content">Align-Content</a></li>
                        <li><a href="#gap">Gap</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>
