<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="assets/images/favicon.webp">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/styles/reset.css">
    <link rel="stylesheet" href="assets/styles/typography.css">
    <link rel="stylesheet" href="assets/styles/layout.css">
    <link rel="stylesheet" href="assets/styles/variables.css">
    <link rel="stylesheet" href="assets/styles/navigation.css">
    <link rel="stylesheet" href="assets/styles/main.css">
    <title>{{site.title}}</title>
</head>
<body>

    <header class="section section-header">
        <div class="wrapper">
            <h1>Flexbox</h1>
            <nav class="main-nav">
                <ul>
                    <li>
                        <a href="">Properties</a>
                        <ul>
                            <li>
                                <a href="">Parent</a>
                                <ul>
                                    <li><a href="#flex-direction">Flex-Direction</a></li>
                                    <li><a href="#flex-wrap">Flex-Wrap</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="">Children</a>
                                <ul></ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>