:root {
    interpolate-size: allow-keywords;

    --body-gradient: linear-gradient(
        130deg,
        #ffdbdb 0%,
        #d1d1f9 25%,
        #cff1fb 50%,
        #d6fbe4 75%,
        #fcfdcd 100%
    );

    --heading-title-color: linear-gradient(229deg, #ee82ee -1%, #0077c0 64%);

    --clr-white: #fff;
    --clr-pink: #ffdbdb;
    --clr-blue: #cff1fb;
    --clr-dark-blue: #bad9e2;
    --clr-magic-blue: #0077c0;
    --clr-baby-blue: #89cff0;
    --clr-violet: #d1d1f9;
    --clr-light-violet: #d1d1f968;
    --clr-dark-violet: #a7a7c7;
    --clr-purple: #ee82ee;
    --clr-electric: #6f00ff;
    --clr-green: #d6fbe4;
    --clr-yellow: #fcfdcd;
    --clr-black: #000;
    --clr-red: #ff7779;
    --clr-dark-red: #e66b6d;
    --clr-gray: #707070;
    --clr-bronze: #cd7f32;
    --clr-dark-green: #1db954;
    --clr-orange: #ff9668;

    --clr-transparent-violet: #d1d1f9;
}
