header.layout-item nav > ul {
    display: flex;
    gap: 1em;
}

header.layout-item nav > ul li {
    position: relative;
}

header.layout-item nav ul ul {
    display: none;
    background: var(--clr-violet);
    font-variant-caps: normal;
    text-transform: lowercase;
    z-index: 100;
}

header.layout-item nav ul li,
header.layout-item nav ul li a {
    display: flex;
}

header.layout-item nav ul li:hover > ul {
    position: absolute;
    top: 100%;
    right: 0;
    gap: 0.3em;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.1);
    display: none;
    width: 100%;
}

header.layout-item nav > ul li ul.dropdown-active {
    display: block;
}

header.layout-item nav ul li > ul li {
    margin-top: 0.25em;
}

header.layout-item nav ul li a {
    min-width: 20ch;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    padding: 0.4em 0.8em;
    border-radius: 0.3em;
    color: var(--clr-white);
    border: none;
    outline: none;
    border-radius: 5px;
    position: relative;
}

header.layout-item nav ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-width: 0;
    border: solid;
    border-color: var(--clr-transparent-violet) rgba(255, 255, 255, 0.4) rgba(255, 255, 255, 0.4)
        var(--clr-transparent-violet);
    border-bottom-right-radius: 5px;
    visibility: hidden;
    transition: 0.7s ease-in-out;
    box-shadow: 0.05em 0.05em 0 rgb(0, 0, 0, 0.3);
}

header.layout-item nav ul li a:hover::before {
    border-width: 14px;
    visibility: visible;
}

header.layout-item nav ul .purple a {
    background: var(--clr-purple);
    transition: color 1s ease, background 1s ease;
}

header.layout-item nav ul .blue a {
    background: var(--clr-magic-blue);
    transition: color 1s ease, background 1s ease;
}

header.layout-item nav ul .purple ul li a {
    background: var(--clr-purple);
}

header.layout-item nav > ul .blue a:hover {
    color: var(--clr-black);
    background: #0076c0a7;
}

header.layout-item nav > ul .purple a:hover {
    color: var(--clr-black);
    background: #ee82eea8;
}

label[for='main-nav-toggle'] {
    display: none;
}

#main-nav-toggle {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
}

@media (hover: none) {
    header.layout-item {
        justify-content: center;
    }

    header.layout-item nav {
        display: none;
        flex-basis: 100%;
    }

    header.layout-item nav > ul {
        gap: 0.5em;
        justify-content: center;
    }

    header.layout-item nav li {
        justify-content: center;
    }

    header.layout-item i {
        font-size: 1em;
        margin-top: 1.75rem;
        margin-left: 0.15rem;
        display: block;
    }

    #main-nav-toggle:checked ~ header.layout-item label[for='main-nav-toggle'] .open {
        display: none;
    }

    #main-nav-toggle:checked ~ header.layout-item label[for='main-nav-toggle'] .close {
        display: block;
    }

    label[for='main-nav-toggle'] {
        display: block;
    }

    label[for='main-nav-toggle'] .close {
        display: none;
    }

    #main-nav-toggle:checked ~ header.layout-item nav {
        display: block;
    }
}

@media (hover: hover) {
    header.layout-item nav {
        display: block;
    }
}
