.insights article + article {
    margin-top: 2em;
}

.insights .card {
    background: var(--clr-white);
    box-shadow: 0 0 0.5em 0 rgb(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    display: flex;
    gap: 1em;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
}

section.content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
}

section.content blockquote {
    opacity: 0.5;
    max-width: 56ch;
    font-size: 0.95em;
    font-variant-caps: normal;
}

section.content i {
    font-size: 1.5em;
}

div.avatar {
    max-width: 8em;
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1/1;
    border: 0.2em solid var(--clr-white);
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    display: flex;
}

@media (max-width: 950px) {
    .insights .wrapper:last-child {
        margin-top: 2em;
    }
}

@media (min-width: 950px) {
    .insights {
        display: flex;
        gap: 2em;
    }

    .insights .wrapper:not(:last-child) {
        flex: 0 1 600px;
    }

    .insights .wrapper:last-child {
        display: flex;
        flex: 0 1 300px;
        flex-direction: column;
    }

    .insights .wrapper:last-child article {
        flex-grow: 1;
        flex-direction: column;
    }
}
