.insights {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.insights .wrapper {
    flex: 0 1 700px;
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.insights .card {
    background: var(--clr-white);
    box-shadow: 0 0 0.5em 0 rgb(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    display: flex;
    gap: 1em;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
}

section.content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
}

section.content blockquote {
    opacity: 0.5;
    max-width: 56ch;
    font-size: 0.95em;
    font-variant-caps: normal;
}

section.content i {
    font-size: 1.5em;
}

div.avatar {
    max-width: 8em;
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1/1;
    border: 0.2em solid var(--clr-white);
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    display: flex;
}

@media (min-width: 950px) {
    .insights .wrapper:not(:last-child) {
        flex: 1 1 600px;
        gap: 1em;
        display: flex;
        flex-direction: column;
    }

    .insights .wrapper:last-child {
        flex: 1 1 300px;
        flex-direction: row;
    }

    .insights .wrapper:last-child .card {
        flex-direction: column;
    }

    .insights .wrapper:last-child .content h5 {
        order: 2;
    }

    .insights .wrapper:last-child .avatar {
        align-self: center;
        max-width: 10em;
    }
}
