.boxes-container.flex-grow.zero {
    flex-grow: 0;
}

.boxes-container.flex-grow.one .box {
    flex-grow: 1;
}

.boxes-container.flex-grow.second-child .box:nth-child(2) {
    flex-grow: 2;
}

.boxes-container.flex-grow.proportionally .box:nth-child(1) {
    flex-grow: 1;
}

.boxes-container.flex-grow.proportionally .box:nth-child(2) {
    flex-grow: 2;
}

.boxes-container.flex-grow.proportionally .box:nth-child(3) {
    flex-grow: 3;
}

.boxes-container.flex-shrink .box {
    align-items: unset;
}

.boxes-container.flex-shrink.zero .box:nth-child(1),
.boxes-container.flex-shrink.zero .box:nth-child(2),
.boxes-container.flex-shrink.zero .box:nth-child(3) {
    flex-basis: 7em;
    flex-shrink: 1;
}

.boxes-container.flex-shrink.zero .box:nth-child(1),
.boxes-container.flex-shrink.zero .box:nth-child(2),
.boxes-container.flex-shrink.zero .box:nth-child(3) {
    flex-basis: 7em;
    flex-shrink: 0;
}

.boxes-container.flex-basis.three .box:nth-child(1),
.boxes-container.flex-basis.three .box:nth-child(2) {
    flex-basis: 3em;
}

.boxes-container.flex-basis.three .box:nth-child(2) {
    flex-basis: 5em;
}

.boxes-container.flex-basis.two .box:nth-child(1),
.boxes-container.flex-basis.two .box:nth-child(2),
.boxes-container.flex-basis.two .box:nth-child(3) {
    flex-basis: 2em;
}

.boxes-container.flex.grow1-shrink0-basis5 .box:nth-child(1),
.boxes-container.flex.grow1-shrink0-basis5 .box:nth-child(3) {
    flex: 1 0 8em;
}

.boxes-container.flex.grow0-shrink1-basisauto .box:nth-child(2) {
    flex: 0 1 auto;
}
.boxes-container.flex.grow0-shrink1-basisauto .box:nth-child(1),
.boxes-container.flex.grow0-shrink1-basisauto .box:nth-child(3) {
    flex: 1 1 8em;
}

.boxes-container.align-self.flex-start .box:nth-child(2) {
    align-self: flex-start;
}

.boxes-container.align-self.center .box:nth-child(2) {
    align-self: center;
}

.boxes-container.align-self.flex-end .box:nth-child(2) {
    align-self: flex-end;
}

.boxes-container.align-self.baseline .box:nth-child(1) {
    height: 5em;
}

.boxes-container.align-self.baseline .box:nth-child(3) {
    height: 6em;
}

