.boxes-container.flex-grow.zero {
    flex-grow: 0;
}

.boxes-container.flex-grow.one .box {
    flex-grow: 1;
}

.boxes-container.flex-grow.second-child .box:nth-child(2) {
    flex-grow: 2;
}

.boxes-container.flex-grow.proportionally .box:nth-child(1) {
    flex-grow: 1;
}

.boxes-container.flex-grow.proportionally .box:nth-child(2) {
    flex-grow: 2;
}

.boxes-container.flex-grow.proportionally .box:nth-child(3) {
    flex-grow: 3;
}

.boxes-container.flex-shrink .box {
    align-items: unset;
}

.boxes-container.flex-shrink.one .box:nth-child(1){
    flex-basis: 12em;
    flex-shrink: 1;
}

.boxes-container.flex-shrink.zero .box:nth-child(1) {
    flex-basis: 12em;
    flex-shrink: 0;
}
