body {
    background: var(--body-gradient);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.layout-item {
    padding: 1dvh max(calc((100vw - 1000px) / 2), 1dvh);
}

header.layout-item {
    background: var(--clr-transparent-violet);
    border-bottom: 2px solid white;
    box-shadow: 0 0.1em 0 0 rgb(0, 0, 0, 0.1);
}

.layout-item.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 4em;
}
