body {
    background: var(--hdr-gradient), var(--sdr-gradient);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.layout-item {
    padding: 6dvh max(calc((100vw - 1000px) / 2), 6dvh);
}

main.layout-item {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 4em;
}
