body {
    background: var(--hdr-gradient), var(--sdr-gradient);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.section-main {
    flex-grow: 1;
}

.section .wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {

    font-weight: bold;
    text-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    color: var(--clr-white);
}
