/* @import url('https://fonts.cdnfonts.com/css/tisa-sans-pro');

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after,
button {
    box-sizing: inherit;
    font: inherit;
}

details,
details > summary {
    display: block;
}

button {
    all: unset;
    cursor: pointer;
}

html {
    font: clamp(12px, 1.8dvw, 16px) / 1.4 'Tisa Sans Pro', sans-serif;
    font-variant-caps: small-caps;
}

h1 {
    font-size: 2.8em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.2em;
}

h1,
h2,
h3,
h4 {
    font-weight: normal;
}

body {
    background: var(--hdr-gradient), var(--sdr-gradient);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.section-main {
    flex-grow: 1;
}

.section .wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav ul ul {
    display: none;
}

.main-nav ul li,
.main-nav ul li a {
    display: block;
}

.main-nav ul li {
    position: relative;
}

.main-nav ul li:hover > ul {
    min-width: 20ch;
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.1);
    padding: 0.5em;
}

.main-nav ul li a {
    text-decoration: none;
    background: #369;
    color: white;
    padding: 0.7em 1.2em;
    border-radius: 0.3em;
}

.main-nav ul li:hover > a,
.main-nav ul li a:hover {
    background: lightblue;
    color: black;
}

.main-nav ul ul li:hover > ul {
    left: initial;
    right: 100%;
    top: 0;
}

details,
details > summary {
    display: block;
}

button {
    all: unset;
    cursor: pointer;
} */

/* main CSS */

.section-main .wrapper > article {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    background: var(--clr-white);
    padding: 2em;
    border-radius: 0.5em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.3);
    gap: 2em;
}

.property-section {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.property-container {
    display: flex;
    gap: 2em;
    justify-content: space-between;
}

.carousel-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

#previous,
#next {
    position: absolute;
    color: var(--clr-pink);
    padding: 4em;
}

#previous {
    left: 0;
    top: 50%;
}

#next {
    right: 0;
    top: 50%;
}

.carousel-wrapper:not(:first-of-type) {
    display: none;
}

.boxes-container {
    width: 22em;
    background: var(--clr-yellow);
    display: flex;
    background: var(--clr-yellow);
    box-shadow: 0 0 0.5em 0 rgb(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    padding: 1em 1em 2.5em 1em;
    gap: 0.5rem;
    align-items: flex-start;
    aspect-ratio: 2/1;
    position: relative;
}

.boxes-container figcaption {
    position: absolute;
    bottom: 0.2em;
    left: 0.5em;
}

.details-container {
    width: 20em;
    display: flex;
    flex-direction: column;
}

.boxes-container .box {
    padding: 0.5em 1.4em;
    color: var(--clr-black);
    background: var(--clr-pink);
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0 0.8em 0 rgb(0, 0, 0, 0.2), 0 0 0.5em 0 rgb(0, 0, 0, 0.2) inset;
    outline: 0.1em solid var(--clr-white);
    text-align: center;
}

.boxes-container.flex-direction.row {
    flex-direction: row;
}

.boxes-container.flex-direction.column {
    flex-direction: column;
}

.boxes-container.flex-direction.row-reverse {
    flex-direction: row-reverse;
}

.boxes-container.flex-direction.column-reverse {
    flex-direction: column-reverse;
}
