.layout-item .main-content {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

.layout-item .main-content > article {
    background: var(--clr-white);
    border-radius: 0.5em;
    overflow: hidden;

    background-repeat: no-repeat;
    position: relative;
    background: linear-gradient(-135deg, transparent 4rem, var(--clr-white) 0);
}

.layout-item .main-content h2 {
    background: var(--clr-blue);
    padding: 0.2em 0.4em;
    text-align: center;
    /* border-bottom: 0.03em solid var(--clr-white); */
    /* box-shadow: 0 0 0.5em 0 rgb(0, 0, 0, 0.2); */
    background: linear-gradient(-135deg, transparent 4rem, var(--clr-blue) 0);
}

.layout-item .main-content > article::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 5.7em;
    height: 5.7em;
    background: linear-gradient(-135deg, transparent 4rem, var(--clr-white) 0);
    box-shadow: 0 0 0.8em 0 rgb(0, 0, 0, 0.6);
    border-bottom-left-radius: 1.5em 100%;
    z-index: 100;
    border: 1px solid white;
    border-top: none;
    border-right: none;
}
