.section-main .wrapper > article {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    background: var(--clr-white);
    padding: 2em;
    border-radius: 0.5em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.3);
    gap: 2em;
}

.property-section {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.property-container {
    display: flex;
    gap: 2em;
    justify-content: space-between;
}

.carousel-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

#previous,
#next {
    position: absolute;
}

#previous {
    left: -0.9rem;
    top: 50%;
}

#next {
    right: -0.9rem;
    top: 50%;
}

#previous > i,
#next > i {
    color: var(--clr-dark-violet);
    font-size: 2em;
    background: var(--clr-dark-blue);
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1/1;
    opacity: 0.5;
    border: 0.06 em solid var(--clr-white);
}

#previous:hover > i,
#next:hover > i {
    opacity: 1;
    transition: opacity 0.3s ease-in-out, background 0.3s ease-in-out;
}

.carousel-wrapper:not(:first-of-type) {
    display: none;
}

.boxes-container {
    width: 22em;
    background: var(--clr-yellow);
    display: flex;
    background: var(--clr-yellow);
    box-shadow: 0 0 0.5em 0 rgb(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    padding: 2em 2em 2.5em 2em;
    gap: 0.5rem;
    align-items: flex-start;
    aspect-ratio: 1/1;
    position: relative;
    transition: opacity 1s ease, transform 1s ease;
}

.boxes-container figcaption {
    position: absolute;
    bottom: 0.2em;
    left: 0.5em;
}

.details-container {
    width: 20em;
    display: flex;
    flex-direction: column;
}

.boxes-container .box {
    padding: 0.5em 1.4em;
    color: var(--clr-black);
    background: var(--clr-pink);
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0 0.8em 0 rgb(0, 0, 0, 0.2), 0 0 0.5em 0 rgb(0, 0, 0, 0.2) inset;
    outline: 0.1em solid var(--clr-white);
    text-align: center;
}

.boxes-container.flex-direction.row {
    flex-direction: row;
}

.boxes-container.flex-direction.column {
    flex-direction: column;
}

.boxes-container.flex-direction.row-reverse {
    flex-direction: row-reverse;
}

.boxes-container.flex-direction.column-reverse {
    flex-direction: column-reverse;
}

.boxes-container.main::before,
.boxes-container.cross::before {
    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-70%, -60%);
    width: 0.08em;
    height: 12em;
    background: var(--clr-red);
    content: '  Cross Axis';
    white-space: pre;
    color: var(--clr-red);
}

.boxes-container.main::after,
.boxes-container.cross::after {
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-70%, -60%);
    width: 12em;
    height: 0.08em;
    background: var(--clr-red);
    content: '  Main Axis';
    white-space: pre;
    color: var(--clr-red);
}

.boxes-container.cross::before {
    content: '  Main Axis';
}

.boxes-container.cross::after {
    content: '  Cross Axis';
}

.boxes-container.main::before,
.boxes-container.main::after {
    animation: transitionInSlower 3s forwards;
}

.boxes-container.cross::before,
.boxes-container.cross::after {
    animation: transitionInSlower 3s forwards;
}

.transition-in-faster {
    animation: transitionInFaster 1s forwards;
}

@keyframes transitionInFaster {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.transition-in-slower {
    animation: transitionInSlower 3s forwards;
}

@keyframes transitionInSlower {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
