.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-nav > ul {
    display: flex;
    gap: 1em;
}

.main-nav > h1 {
    font-weight: bold;
    background: linear-gradient(229deg in oklab, #ee82ee 40% 40%, #0077c0 67% 67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-stroke: 1px var(--clr-white);
}

.main-nav ul ul {
    display: none;
    background: var(--clr-violet);
    padding-top: 0.3em;
    font-variant-caps: normal;
    text-transform: lowercase;
}

.main-nav ul li,
.main-nav ul li a {
    display: block;
}

.main-nav ul li {
    position: relative;
}

.main-nav ul li:hover > ul {
    min-width: 20ch;
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.main-nav ul li a {
    width: 20ch;
    height: 4ch;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    padding: 0.4em 0.8em;
    border-radius: 0.3em;
    color: var(--clr-white);
    border: none;
    outline: none;
    border-radius: 5px;
    position: relative;
}

.main-nav ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-width: 0;
    border: solid;
    border-color: var(--clr-transparent-violet) rgba(255, 255, 255, 0.4) rgba(255, 255, 255, 0.4)
        var(--clr-transparent-violet);
    border-bottom-right-radius: 5px;
    visibility: hidden;
    transition: 0.7s ease-in-out;
    box-shadow: 0.05em 0.05em 0 rgb(0, 0, 0, 0.3);
}

.main-nav ul li a:hover::before {
    border-width: 14px;
    visibility: visible;
}

.main-nav ul .purple a {
    background: var(--clr-purple);
    transition: color 1s ease, background 1s ease;
}

.main-nav ul .blue a {
    background: var(--clr-magic-blue);
    transition: color 1s ease, background 1s ease;
}

.main-nav ul ul li:hover > ul {
    left: initial;
    right: 100%;
    top: 0;
}

.main-nav ul .purple ul li a {
    background: var(--clr-purple);
}

.main-nav > ul .blue a:hover {
    color: var(--clr-black);
    background: #0076c0a7;
}

.main-nav > ul .purple a:hover {
    color: var(--clr-black);
    background: #ee82eea8;
}
