.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-nav > ul {
    display: flex;
    gap: 1em;
}

.main-nav > h1 {
    font-weight: bold;
    background: linear-gradient(229deg in oklab, #ee82ee 40% 40%, #0077c0 67% 67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-stroke: 1px var(--clr-white);
}

.main-nav ul ul {
    display: none;
}

.main-nav ul li,
.main-nav ul li a {
    display: block;
}

.main-nav ul li {
    position: relative;
}

.main-nav ul li:hover > ul {
    min-width: 20ch;
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.1);
    padding: 0.5em;
}

.main-nav ul li a {
    width: 17ch;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 0.4em 0.8em;
    border-radius: 0.3em;
    color: var(--clr-white);
    border: 0.09em solid white;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.3);
}

.main-nav ul li:first-of-type a {
    background: var(--clr-purple);
}

.main-nav ul li:last-of-type a {
    background: var(--clr-magic-blue);
}

.main-nav ul li:hover > a,
.main-nav ul li a:hover {
    color: var(--clr-black);
    text-shadow: 0 0 0.5em rgba(0, 0, 0, 0.1);
}

.main-nav ul ul li:hover > ul {
    left: initial;
    right: 100%;
    top: 0;
}
