.property-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 5em;
}

.property-section > h3 {
    text-align: center;
}

.property-section > p {
    text-align: center;
    opacity: 0.5;
    font-variant-caps: normal;
    max-width: 66ch;
    justify-self: center;
    align-self: center;
}

.property-container {
    display: flex;
    gap: 2em;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.carousel-wrapper {
    display: flex;
    position: relative;
    width: 21em;
    height: 21em;
    aspect-ratio: 1/1;
    background: var(--clr-yellow);
    box-shadow: 0 0 0.5em 0 rgb(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    padding: 2.5em;
    align-self: center;
}

.carousel-wrapper::after {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.4em 0.8em;
    content: '\2195  21em';
    font-variant-caps: normal;
    background: var(--clr-orange);
    color: var(--clr-white);
    box-shadow: -0.2em 0.2em 0.2em 0 rgb(0, 0, 0, 0.2);
    font-weight: 700;
    font-size: 0.8em;
    border-top-right-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
}

.property-section:nth-of-type(even) .carousel-wrapper {
    order: 2;
}

.carousel-wrapper:not(:first-of-type) {
    display: none;
}

.boxes-container {
    flex: 1 1 100%;
    display: flex;
    gap: 0.8rem;
    align-items: flex-start;
    transition: opacity 1s ease, transform 1s ease;
}

.boxes-container figcaption {
    position: absolute;
    bottom: 0.2em;
    left: 0.5em;
}

.boxes-container .box {
    padding: 0.8em 1.6em;
    color: var(--clr-black);
    background: var(--clr-pink);
    border-radius: 0.3rem;
    overflow: hidden;
    box-shadow: 0 0 0.8em 0 rgb(0, 0, 0, 0.2), 0 0 0.5em 0 rgb(0, 0, 0, 0.2) inset;
    outline: 0.1em solid var(--clr-white);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    z-index: 3;
    width: 1.5em;
    aspect-ratio: 1/1;
    align-items: center;
}

.boxes-container .box:nth-child(1) {
    width: 1.5em;
}

.boxes-container .box:nth-child(3) {
    width: 1.5em;
}

.boxes-container .box:nth-child(5) {
    width: 1.5em;
}

.boxes-container.main::before,
.boxes-container.cross::before,
.boxes-container.main::after,
.boxes-container.cross::after {
    border-radius: 100%;
    z-index: 10;
    white-space: pre;
    position: absolute;
}

.boxes-container.main::before,
.boxes-container.cross::before {
    top: 70%;
    left: 60%;
    transform: translate(-70%, -60%);
    width: 0.1em;
    height: 12em;
}

.boxes-container.main::after,
.boxes-container.cross::after {
    top: 60%;
    left: 70%;
    transform: translate(-70%, -60%);
    width: 12em;
    height: 0.1em;
}

.boxes-container.cross::before {
    content: '  Main Axis';
    color: var(--clr-magic-blue);
    background: var(--clr-magic-blue);
    z-index: 11;
}

.boxes-container.cross::after {
    content: '  Cross Axis ';
    color: var(--clr-purple);
    background: var(--clr-purple);
    white-space: pre;
}

.boxes-container.main::before {
    content: '  Cross Axis ';
    color: var(--clr-magic-blue);
    background: var(--clr-magic-blue);
    z-index: 11;
}

.boxes-container.main::after {
    content: '  Main Axis ';
    color: var(--clr-purple);
    background: var(--clr-purple);
}

.boxes-container.main::before,
.boxes-container.main::after {
    animation: transitionInSlower 3s forwards;
}

.boxes-container.cross::before,
.boxes-container.cross::after {
    animation: transitionInSlower 3s forwards;
}

.transition-in-faster {
    animation: transitionInFaster 1s forwards;
}

@keyframes transitionInFaster {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.transition-in-slower {
    animation: transitionInSlower 3s forwards;
}

@keyframes transitionInSlower {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#previous,
#next {
    position: absolute;
}

#previous {
    left: -0.9rem;
    top: 50%;
}

#next {
    right: -0.9rem;
    top: 50%;
}

#previous > i,
#next > i {
    color: var(--clr-dark-violet);
    font-size: 2em;
    background: var(--clr-dark-blue);
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1/1;
    opacity: 0.5;
    border: 0.06em solid var(--clr-white);
}

#previous:hover > i,
#next:hover > i {
    opacity: 1;
    transition: opacity 0.3s ease-in-out, background 0.3s ease-in-out;
}

.details-container {
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    border-radius: 0.3em;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex: 0 1 21em;
    overflow: hidden;
}

details::details-content {
    font-size: 0.9em;
    block-size: 0;
    transition: content-visibility 1s, block-size 1s;
    transition-behavior: allow-discrete;
    background: var(--clr-white);
}
.details-container > details[open] > summary::before {
    content: '-';
    color: var(--clr-black);
}

.details-container > details[open] {
    cursor: auto;
}

.details-container > details[open] > summary {
    background: var(--clr-violet);
    font-weight: bold;
    color: var(--clr-black);
}

details[open]::details-content {
    block-size: auto;
}

::-webkit-scrollbar {
    width: 0.75em;
    background: var(--clr-violet);
    border-bottom-right-radius: 0.5em;
}

::-webkit-scrollbar-track {
    border-radius: 100vw;
    margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(var(--clr-blue), var(--clr-magic-blue));
    border-radius: 100vw;
    border: 0.15em solid var(--clr-green);
}

.details-container > details:not(:last-child) {
    border-bottom: 0.2em solid var(--clr-white);
}

.details-container > details {
    overflow: hidden;
    background: var(--clr-light-violet);
    transition: color 1s ease, background 1s ease;
}

.details-container > details > summary {
    padding: 0.5em;
    position: relative;
    padding-left: 1.5em;
    color: var(--clr-gray);
    font-weight: bold;
    transition: color 1s ease, background 1s ease;
}

.details-container > details:hover {
    background: var(--clr-violet);
}

.details-container > details:hover summary {
    color: var(--clr-black);
}

.details-container > details > summary::before {
    content: '+';
    position: absolute;
    left: 0.3em;
    top: 0.12em;
    font-size: 1.4em;
    color: var(--clr-gray);
    font-weight: bold;
    transition: color 1s ease, background 1s ease;
}

.details-container > details:hover summary::before {
    color: var(--clr-black);
}

.details-container > details > p {
    text-indent: 1ch;
    padding-block: 1em;
    font-variant-caps: normal;
}

pre code.language-css {
    font-variant-caps: normal;
    cursor: auto;
    word-wrap: break-word;
    white-space: pre-wrap;
    color: var(--clr-electric);
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
    background: transparent;
    display: flex;
    align-items: flex-start;
    position: relative;
    top: -1.2em;
}

pre[class*='language-'] {
    padding: 0.5em;
    margin: 0;
}

.token.selector {
    color: var(--clr-purple);
}

.token.punctuation {
    color: var(--clr-magic-blue);
}

.token.property {
    color: var(--clr-bronze);
}

.token.comment {
    color: var(--clr-dark-green);
    font-style: italic;
}
