{% include header.html%}

<main class="section section-main">
    <div class="wrapper">

        <article>
            {% for property in site.data.properties %}

            <section class="property-section">
                <h3>{{property.name}}</h3>

                <div class="property-container">
                    {% for item in property.items %}

                    <div class="boxes-container {{property.class-name.title}} {{item.class-name}}">
                        {% for i in (1..item.elements-count) %}
                        <div class="box">{{ i }}</div>
                        {% endfor %}
                        <button id="next">next</button>
                        <button id="previous">previous</button>
                    </div>

                    <details>
                        <summary id="{{item.class-name}}">{{item.title}}</summary>
                        <p>Lorem </p>
                    </details>

                    {% endfor %}

                </div>

            </section>

            {% endfor %}

        </article>

    </div>
</main>

{% include footer.html%}


<!-- <pre>{{ site.data | jsonify }}</pre> -->