{% include header.html%}

<main class="section section-main">
    <div class="wrapper">
        ha
        <!-- <article>
            {% for property in site.data.properties %}
            <section class="property-section">
                <h3>{{property.name}}</h3>
                
                <div class="property-container">
                    
                    {% for item in property.items %}
                    <div>
                        <figure class="boxes-container {{property.class-name.title}} {{item.class-name}}">
                            {% for i in (1..item.elements-count) %}
                            <p class="box">{{ i }}</p>
                            {% endfor %}
                            <figcaption>{{item.title}}</figcaption>
                        </figure>
                        <i id="next" class="fa-solid fa-camera" aria-hidden="true"></i>
                        <i id="previous" class="fa-solid fa-camera" aria-hidden="true"></i>
                    </div>
                    {% endfor %}
                    
                    {% for item in property.items %}
                    <div class="summary-container">
                        <details>
                            <summary id="{{item.class-name}}">{{item.definition}}</summary>
                            <p>Lorem</p>
                        </details>
                    </div>
                    {% endfor %}
                    
                </div>
                
            </section>
            {% endfor %}
            
        </article> -->
        
    </div>
</main>

{% include footer.html%}